*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

body{
    position: relative;
    background-color: #917171;
    font-family: 'roboto', sans-serif;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #917171;
    display: flex;
    align-items: center;
    padding: 0 2.5vw;
}

.toggle-btn{
    width: 20px;
    height: 10px;
    position: relative;
    cursor: pointer;
    background-color: #fafafa00;
}
.small-sidebar {
    width: 5%;
}

.toggle-btn span{
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
}

.toggle-btn span:nth-child(1){
    top: 0;
}

.toggle-btn span:nth-child(3){
    top: 100%;
}

.logo{
    height: 30px;
    margin: -10px 30px 0;
}
/* ang search box */
.search-box{
    position: relative;
    width: 70%;
    height: 35px;
    display: flex;
    padding-left: 70px;
}
/* ang word nga search */
.search-bar{
    width: 85%;
    height: 100%;
    background-color: #523b3b;
    border: 2px solid ;
    padding: 0 20px;
    font-size: 16px;
    text-transform: capitalize;
    border-radius: 20px;
    border-color: #ac9191;
    padding-left: 500px;
    
}
/* magnifying box */
.search-btn{
    width: 15%;
    height: 100%;
    background: #ac9191;
    border: 2px solid #ac9191;
    padding: 5px 0;
    border-left: none;
    border-radius: 20px;
    
}
/* magnifying icon */
.search-btn img{
    height: 100%;
}

.user-options{
    height: 35px;
    display: flex;
    margin-left: auto;
    align-items: center;
    color: rgb(73, 62, 62);
}

.user-options .icon{
    height: 80%;
    margin-right: 20px;
    cursor: pointer;
}

.user-dp{
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.user-dp img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* side-bar */

.side-bar{
    position: fixed;
    top: 60px;
    left: 0;
    min-width: 250px;
    width: 250px;
    height: calc(100vh - 60px);
    background-color: #917171;
    padding-right: 10px;
}

/*mga name sa kilid*/

.links{
    display: block;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.links img{
    height: 25px;
    margin-right: 20px;
}

.links:hover {
    background: rgba(49, 49, 49, 0.397);
}
/* separator sa subcription ug library */
.seperator{
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.747);
    margin: 20px 0;
}

/* filter */

.filters{
    position: fixed;
    left: 250px;
    top: 60px;
    width: calc(100% - 250px);
    height: 60px;
    background-color: #917171;
    border-top: 1px solid #917171;
    border-bottom: 1px solid #3d3535;
    padding: 0 20px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
}

.filters::-webkit-scrollbar{
    display: none;
}

.filter-options{
    flex: 0 0 auto;
    padding: 10px 20px;
    border-radius: 50px;
    background: #645151;
    border: 1px solid #645151   ;
    text-transform: capitalize;
    margin-right: 10px;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
}

.filter-options.active{
    color: #fff;
    background: #242424;
}

/* video */

.video-container{
    width: calc(100% - 250px);
    margin-top: 120px;
    margin-left: 250px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 20px 5px;
    overflow-x: hidden;
}

.video{
    min-height: 250px;
    height: auto;
}

.thumbnail{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}
/* box sa name sa video*/
.content{
    width: 100%;
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.channel-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.title{
    width: 100%;
    height: 40px;
    overflow: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right: 80px;
}

.channel-name{
    font-size: 15px;
    margin: 2px 0;
    color: #ffeded;
}
 .subscribe-list h3 {
    font-size: 14px;
    margin: 20px 0;
    color: white;
    margin-left: 50px;
 }

 .subscribe-list a {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
    text-decoration: none;
 }

 .subscribe-list a p {
    color: white;
    padding-left: 10px;
    overflow: hidden;
 }

 .subscribe-list a img {
    width: 40px;
    height: 30px;
    border-radius: 50%;
    margin-left: 14px;
 }
.info h3 {
    color: rgb(223, 206, 206);
}

.video a {
    text-decoration: none;
}

.banner img {
    height: 350px;
    width: 1350px;
    margin-left: 400px;
    position: static;
    border-radius: 20px;
    margin-top: 150px;
}

.video-container .video video {
    height: 300px;
    padding: 38px;
    border-radius: 100px;
}

.video-list {
    margin-left: 500px;
    margin-top: px;
}

.video img {
    box-sizing: border-box;
    border-radius: 20px;
}

.video .video-info h2 {
    margin-left: 500px;
    position: absolute;
}

.video-container h1 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 50px;
    padding-top: 30px;
}
.side-vid-info {
    margin-left: 100px;
    margin-top: 100px;
}

.side-vid-info a {
    text-decoration: none;
    color: rgb(216, 207, 207);
}

.side-vid-info a p {
    color: white
}

.side-vid-info img {
    border-radius: 50%;
    height: 50px;
}
